<ng-template #forminfo>
  <div class="form-container">

  <table id = "table1" class="export-table" style="width: 85%; margin-top: 1px">
          <thead>
              <tr>
                  <th>Family</th>
                  <th>Genus</th>
                  <th>Species</th> 
		  <th>Sub-sp., variety, etc</th>
		  <th>Locality</th> 
		  <th>State</th>
		  <th>Country</th>
		  <th>Elevation</th>
		  <th>Coordinates</th>
		  <th>Ecology</th>
		  <th>Associated species</th>
		  <th>Description</th>
		  <th>Voucher Info.</th>
                  <th>Collector</th>
		  <th>Additional Collectors</th>
		  <th>Collection number</th>
		  <th>Date</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="item in reportData">
                  <td>{{ family }}</td>
                  <td>{{ genus }}</td>
                  <td>{{ species }}</td>
		  <td>{{ other }}</td>
		  <td>{{ locality }}</td>
		  <td>{{ state }}</td>
		  <td>{{ country }}</td>
		  <td>{{ elevation }}</td>
		  <td>{{ coord }}</td>
		  <td>{{ ecology }}</td>
		  <td>{{ otherSp }}</td>
		  <td>{{ description }}</td>
		  <td>{{ voucher }}</td>
                  <td>{{ collector}}</td>
		  <td>{{ party }}</td>
		  <td>{{ colNumber }}</td>
		  <td>{{ date }}</td>
              </tr>
          </tbody>
    </table>

    <input type="reset" class="button" value="Back" formaction="submitted=false">

