<div class="container">
  <div [hidden]="submitted">
    
    <h1>Species Form</h1>
    <form (ngSubmit)="onSubmit()" #speciesForm="ngForm">
     
      <div class="form-group">
        <label for="title">Flora of: </label>
        <select class="form-control" id="title" required
      	[(ngModel)]="model.title" name = "title">
        <option *ngFor="let loc of states" [value]="loc">{{loc}}</option>
       </select>
      </div>

      <div class="form-group">
        <label for="family">Family: </label>
        <input type="text" class="form-control" id="family" required
      	[(ngModel)]="model.family" name = "family">
	<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      		Family is required
	</div>
      </div>

      <div class="form-group">
        <label for="genus">Genus: </label>
        <input type="text" class="form-control" id="genus" 
	[(ngModel)]="model.genus" name = "genus">
      </div>

      <div class="form-group">
        <label for="species">Species: </label>
        <input type="text" class="form-control" id="species" 
      	[(ngModel)]="model.species" name="species">
      </div>

      <div class="form-group">
        <label for="collector">Collector: </label>
        <input type="text" class="form-control" id="collector" 
	[(ngModel)]="model.collector" name="collector">
      </div>

<!--      <div class="form-group">
        <label for="whoWith">Associated collectors: </label>
        <input type="text" class="form-control" id="whoWith" name="whoWith">
      </div>

      <div class="form-group">
        <label for="colNumber">Collection number: </label>
        <input class="form-control" id="colNumber" name="colNumber">
      </div>

      <div class="form-group">
        <label for="homeHerb">Home herbarium: </label>
        <input type="text" class="form-control" id="homeHerb" name="homeHerb">
      </div>

      <div class="form-group">
        <label for="day">Day: </label>
        <input class="form-control" id="day" name="day">
      </div>

      <div class="form-group">
        <label for="month">Month: </label>
        <input type="text" class="form-control" id="month" name="month">
      </div>
     
      <div class="form-group">
        <label for="year">Year: </label>
        <input type="text" class="form-control" id="year" name="year">
      </div>

      <div class="form-group">
	<label for="location">Location: </label>
	<input class="form-control" id="location" name ="location">
      </div>

      <div class="form-group">
	<label for="elevation">Elevation: </label>
	<input class="form-control" id="elevation" name ="elevation">
      </div>

      <div class="form-group">
	<label for="coordinates">Coordinates: </label>
	<input class="form-control" id="coordiates" name ="coordinates">
      </div>

      <div class="form-group">
	<label for="otherSpecies">Associated Species: </label>
	<input class="form-control" id="otherSpecies" name ="otherSpecies">
      </div>

      <div class="form-group">
	<label for="notes">Notes: </label>
	<input class="form-control" id="notes" name ="notes">
      </div> -->

      <button type="submit" class="btn btn-success" [disabled]="!speciesForm.form.valid">Export as CSV</button>

      <button type="button" class="btn btn-default" (click)="newSpecies(); speciesForm.reset()">New Entry</button>

      <button type="button" class="btn btn-default" (click)="newSpecies(); speciesForm.reset()">Darwin Core</button>
	<br>
	<br>

    </form>
  </div>


