import { Component } from '@angular/core';

import { Species }    from '../species';

@Component({
  selector: 'app-species-form',
  templateUrl: './species-form.component.html',
  styleUrls: ['./species-form.component.css']
})
export class SpeciesFormComponent {

  model = new Species('Pteridaceae', 'Ceratopteris', 'thalictroides', , '01-07-2017', 'Sylvia Kinosian', 3, 'La Selva', , , , );

  submitted = false;

  onSubmit() { this.submitted = true; }

  // TODO: Remove this when we're done
  get diagnostic() { return JSON.stringify(this.model); }
}
