.main-form-container {
    display:block;
    width:90%;
    padding:1em;
    background:#fff;
    text-align: center;
}

.h1 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-family:'Muli';
    font-size: 2em;
}

