<div *ngIf="!family; else forminfo">
 <form [formGroup]="speciesForm" (ngSubmit)="addPost(speciesForm.value)">
   <div class="form-container">
     <div class="row columns">
       <h1>Species Form</h1>
    
       <div style="width: 100%;">
       <div style="float:left; width: 49%">
   
       <label>Flora of:
         <input type="text" formControlName="flora">
       </label>
       <div class="alert" *ngIf="!speciesForm.controls['flora'].valid && speciesForm.controls['family'].touched">{{ titleAlert }}</div>

       <label>Family:
         <input type="text" formControlName="family">
       </label>
       <div class="alert" *ngIf="!speciesForm.controls['family'].valid && speciesForm.controls['family'].touched">{{ titleAlert }}</div>

       <label>Genus:
         <input type="text" formControlName="genus">
       </label>

       <label>Species:
         <input type="text" formControlName="species">
       </label>

       <label>Country:
         <input type="text" formControlName="country">
       </label>
       
       <label>State/Province:
         <input type="text" formControlName="state">
       </label>

       <label>Locality:
         <input type="text" formControlName="locality">
       </label>

       <label>Coordinates:
         <input type="text" formControlName="coord">
       </label>

       <label>Elevation:
         <input type="text" formControlName="elevation">
       </label>

       </div>
   
       <div style="float:right; width: 49%">

       <label>Ecology (soil type, moisture, habitat, etc):
         <input type="text" formControlName="ecology">
       </label>
       
       <label>Associated species (Latin names):
         <input type="text" formControlName="otherSp">
       </label>

       <label>Description of plant:
         <input type="text" formControlName="description">
       </label>
	
       <label>Voucher information (study title, GENBANK #, etc):
         <input type="text" formControlName="voucher">
       </label>
       
       <label>Collector:
         <input type="text" formControlName="collector">
       </label>

       <label>Additional Collectors:
         <input type="text" formControlName="party">
       </label>

       <label>Collection Number:
         <input type="text" formControlName="colNumber">
       </label>

       <label>Date (dd-MM-yyy):
         <input type="text" formControlName="date">
       </label>

       </div>
       </div>
       <div style="clear:both"></div>

       <input type="submit" class="button expanded" value="Submit Form" [disabled]="!speciesForm.valid">

     </div>
   </div>
 </form>
</div>

<ng-template #forminfo>
  <div class="form-container">

<table id = "table1" class="export-table" style="width: 100%; margin-top: 20px">
          <thead>
              <tr>
                  <th>Family</th>
                  <th>Genus</th>
                  <th>Species</th>
                  <th>Collector</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="item in reportData">
                  <td>{{ family }}</td>
                  <td>{{ genus }}</td>
                  <td>{{ species }}</td>
                  <td>{{ collector}}</td>
              </tr>
          </tbody>
    </table>

    <input value="Export as CSV" type="button" onclick="$('#table1').table2CSV({header:['family','genus','species','collector']})">
    
    </div>
</ng-template>
