.form-container {
    display:block;
    width:95%;
    padding:1em;
    margin: 1em auto;
    background:#fff;
}

.form-table {
    width:100%;
    background:#fff;
    margin: 0.5em auto;
    overflow-x: auto;
    overflow-y: auto;
}

.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}


.button {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2em;
    width: 20%;
}

.h3 {
    font-family: Arial;
    font-size: 1.5em;
}


@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}
