<form [formGroup]="speciesForm" (ngSubmit)="onSubmit()">
 
  <div class="form-container" *ngIf="!success">
      <!-- Site and Event Data  --!>
      <div class=h3>Event and Site Data</div>
      <div style="width: 100%;">
      <div style="float:right; width: 49%">
        <label>Day:
          <input type="text" formControlName="day">
        </label>
        <div class="alert" *ngIf="!speciesForm.controls['day'].valid && speciesForm.controls['day'].touched">{{ titleAlert }}</div>
  
        <label>Month:
         <input type="text" formControlName="month">
        </label>
        <div class="alert" *ngIf="!speciesForm.controls['month'].valid && speciesForm.controls['month'].touched">{{ titleAlert }}</div>
       
        <label>Year:
         <input type="text" formControlName="year">
        </label> 
        <div class="alert" *ngIf="!speciesForm.controls['year'].valid && speciesForm.controls['year'].touched">{{ titleAlert }}</div>
  
        <label>Collector:
         <input type="text" formControlName="collector">
        </label>
        <div class="alert" *ngIf="!speciesInfo.controls['collector'].valid && speciesInfo.controls['collector'].touched">{{ titleAlert }}</div>
  
        <label>Additional Collectors:
         <input type="text" formControlName="party">
        </label>
            
        <label>Political Locality #1 (Country):
         <input type="text" formControlName="lvl1">
        </label>
        
        <label>Political Locality #2:
         <input type="text" formControlName="lvl2">
        </label>
        
        <label>Political Locality #3:
         <input type="text" formControlName="lvl3">
        </label>
        
	</div>
        <div style="float:left; width: 49%">

        <label>Political Locality #4:
         <input type="text" formControlName="lvl4">
        </label>
  
        <label>Locality:
         <input type="text" formControlName="locality">
        </label>
        <div class="alert" *ngIf="!speciesInfo.controls['locality'].valid && speciesInfo.controls['locality'].touched">{{ titleAlert }}</div>
  
        <label>Coordinates (decimal lat/long):
         <input type="text" formControlName="coord">
        </label>
        
        <label>Datum:
         <input type="text" formControlName="datum">
        </label>
       
        <label>Uncertainty:
         <input type="text" formControlName="uncertainty">
        </label>
  
        <label>Collection Area Description:
          <input type="text" formControlName="colArea">
        </label>
           
        <label>Associated species (Latin names):
         <input type="text" formControlName="otherSp">
        </label>
  
        <label>Substrate:
          <input type="text" formControlName="substrate">
        </label>
	
        </div>	
  	</div>
       
          <!-- individual collection info --!>
          <div formArrayName="info">
          <div *ngFor="let speciesInfo of formInfo.controls; let i=index" [formGroupName]="i">
          <div class=h3>Collection #{{i+1}}</div>
  
          <div style="width: 100%;">
          <div style="float:right; width: 49%">

  	  <label>Collection Number:
              <input type="text" formControlName="colNumber">
            </label>
            <div class="alert" *ngIf="!speciesInfo.controls['colNumber'].valid && speciesInfo.controls['colNumber'].touched">{{ titleAlert }}</div>
  		  
  	  <label>Family:
            <input type="text" formControlName="family">
          </label>
  
          <label>Genus:
            <input type="text" formControlName="genus">
          </label>
  
          <label>Species:
            <input type="text" formControlName="species">
          </label>

	  </div>
	  <div style="float:left; width: 49%">
  
          <label>Sub-species, variety, or other epithet:
            <input type="text" formControlName="other">
          </label>
          
          <label>Habitat:
            <input type="text" formControlName="habitat">
          </label>
  
  	  <label>Description:
            <input type="text" formControlName="description">
          </label>
  	  
  	  <label>Notes:
            <input type="text" formControlName="notes">
          </label>
  
	  </div>
	  </div>
          <input class="button" (click)="deleteSpecies(i)" value="Delete collection">
          
	</div>
	</div>
	</div>
	<input type="reset" class="button" value="Reset form">
         <input type="button" class="button" (click)="addSpecies()" value="Add collection">
         <input type="submit" class="button" value="Submit" [disabled]="!speciesForm.valid"> 
	 
  </div>
  
  <!-- Make & export a table  --!>
  <div class=form-container *ngIf="success">
    <table id = "table1" class="form-table" style="width: 85%; margin-top: 1px">
        <!-- Column names --!>
        <thead>
            <tr> 
    	      <th>Day</th>
    	      <th>Month</th>
    	      <th>Year</th>
    	      <th>Collector</th>
    	      <th>Additional Collectors</th>
    	      <th>Political Locality #1</th>
    	      <th>Political Locality #2</th>
    	      <th>Political Locality #3</th>
    	      <th>Political Locality #4</th>
    	      <th>Locality</th>
    	      <th>Coordinates</th>
    	      <th>Datum</th>
    	      <th>Uncertainty</th>
    	      <th>Collection Area</th>
    	      <th>Associated species</th>
    	      <th>Substrate</th>
    	      <th>Collection number</th>
              <th>Family</th>
              <th>Genus</th>
              <th>Species</th> 
    	      <th>Sub-sp., etc</th>
    	      <th>Habitat</th>
    	      <th>Description</th>
    	      <th>Notes</th>
            </tr>
        </thead>
        <!-- Column info --!>
        <tbody>
	  <tr>
    	    <td>{{ this.speciesForm.value.day }}</td>
    	    <td>{{ this.speciesForm.value.month }}</td>
    	    <td>{{ this.speciesForm.value.year }}</td>
    	    <td>{{ this.speciesForm.value.collector}}</td>
    	    <td>{{ this.speciesForm.value.party }}</td>
            <td>{{ this.speciesForm.value.lvl1 }}</td>
    	    <td>{{ this.speciesForm.value.lvl2 }}</td>
    	    <td>{{ this.speciesForm.value.lvl3 }}</td>
    	    <td>{{ this.speciesForm.value.lvl4 }}</td>
    	    <td>{{ this.speciesForm.value.locality }}</td>
    	    <td>{{ this.speciesForm.value.coord }}</td>
    	    <td>{{ this.speciesForm.value.datum }}</td>
    	    <td>{{ this.speciesForm.value.uncertainty }}</td>
    	    <td>{{ this.speciesForm.value.otherSp }}</td>
    	    <td>{{ this.speciesForm.value.substrate }}</td>
	  </tr>
    	  <tr *ngFor="let speciesInfo of formInfo.controls; let i=index">
    	    <td>{{ this.speciesInfo.value.colNumber }}</td>
    	    <td>{{ this.speciesInfo.value.family }}</td>
            <td>{{ this.speciesInfo.value.genus }} </td>
            <td>{{ this.speciesInfo.value.species }}</td>
    	    <td>{{ this.speciesInfo.value.other }}</td>
    	    <td>{{ this.speciesInfo.value.habitat }}</td>
    	    <td>{{ this.speciesInfo.value.description }}</td>
    	    <td>{{ this.speciesInfo.value.notes }}</td>
          </tr>
        </tbody>
    </table>
  
   <input type="button" class="button" value="Edit collections" (click)="goBack()">
   <input type="button" class="button" value="Export as CSV" (click)=exportCsv()>
  </div>

</form>
