.container {
    display:block;
    width:80%;
    background:#fff;
    overflow-x: auto;
    overflow-y: auto;
}

.button {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2em;
    width: 15%;
}

.bar {
    display:block;
    width:20%;
    height:100%;
    background:#006400;
}

.h1 {
    font-family: Arial;
    text-align: center;
    margin-top:1rem;
    margin-bottom: 1rem;
    font-size: 2em;
}

.h2 {
    font-family: Arial;
    text-align: center;
    margin-top:1rem;
    margin-bottom: 1rem;
    font-size: 2em;
}

a {
  cursor: pointer;
  cursor: hand;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
